.EventDescription{
    &__longDescriptionDiv{
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    &__speakersDiv{
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    &__tagsDiv{
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    &__tags{
        padding-top:15px;
    }
}

