@import "../../variables";
.header{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: $barBackground;
}