
.BigAd{
        width: 100%;
        height: 500px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;


    &__eventTitleDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
    }
    &__eventTitle{
        color: white;
        font-size: 40pt;
        // bottom: 0;
        margin-left: 5%;
        // position: absolute;
    }

    &__organizationTitle{
        padding-right: 5%;
    }
}