@import "../../variables";

.MainInfoBar{
    background-color: $darkLightBack;
    width: 100%;
    min-height: 150px;
    padding: 10px 15% 10px 15%;
    display: flex;
    align-items: center;

    &__bar{
        width: 100%;
    }

    &__buttonDiv{
        height: 100%;
        display: flex;
        align-content: center;
    }
    &__button{
        width: 100%;
        min-height: 100%;
    }
}