$eventBackground: #F3E6DB;
$barBackground: #173753;
$titleFontColor: #ffffff;
$normalFontColor: #dddddd;
$normalFontColor: #555555;
$titleFontSize: 55px;
$smallerTitleFontSize: 30px;
$subTitleFontSize: 20px;
$titleWeight: 500;
$subTitleWeight: 200;
$headerHeight: 80px;
$textShadow: 1px 1px 2px #777777;
